django_management/.env
django_bookshop/.env
deploy/bookshop.env
deploy/warehouse.env
/django_bookshop/postgres_data/
/django_bookshop/staticfiles/
.coverage
coverage.xml
htmlcov/
__pycache__/
*.py[cod]
test.sqlite3
*.sqlite3
celerybeat-schedule*
.idea
