amqp==5.3.1
anyio==4.14.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
black==26.5.1
blinker==1.9.0
brotli==1.2.0
celery==5.6.3
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorlog==6.10.1
coverage==7.15.0
crispy-bootstrap5==2026.3
dj-database-url==3.1.2
Django==6.0.7
django-cors-headers==4.9.0
django-crispy-forms==2.6
django-debug-toolbar==7.0.0
django-extensions==4.1
django-modeltranslation==0.20.3
django-redis==7.0.0
django-silk==5.5.0
django-stubs==6.0.6
django-stubs-ext==6.0.6
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
drf-spectacular-sidecar==2026.8.1
factory_boy==3.3.3
Faker==40.28.1
flake8==7.3.0
Flask==3.1.3
gprof2dot==2025.4.14
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
inflection==0.5.1
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
MarkupSafe==3.0.3
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.11.0
pluggy==1.6.0
prompt_toolkit==3.0.53
psycopg2-binary==2.9.12
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.13.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.12.0
pytest-factoryboy==2.8.1
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
pytokens==0.4.1
PyYAML==6.0.3
redis==8.0.1
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
sentry-sdk==2.66.1
setuptools==83.0.0
six==1.17.0
sqlparse==0.5.4
stripe==15.3.0
types-PyYAML==6.0.12.20260518
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
uvicorn==0.50.0
vine==5.1.0
wcwidth==0.8.2
Werkzeug==3.1.8
wheel==0.47.0
whitenoise==6.12.0
