{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BookShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'book:list' %}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'book:cart_view' %}">Cart</a>
                    </li>
                    <li class="nav-item">
                        {% if perms.order.add %}
                            <a class="nav-link" href="{% url 'order:list' %}">Orders</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if perms.book.add %}
                            <a class="nav-link" href="{% url 'book:add' %}">Add Book</a>
                        {% endif %}
                    </li>
                </ul>
                <div class="ms-auto">
                    {% if user.is_authenticated %}
                        <span class="navbar-text text-black-50 me-3 fw-semibold">
                            {{ user.username }}
                        </span>
                        <form action="{% url 'auth:logout' %}" method="post" class="d-inline me-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-sm">Выйти</button>
                        </form>
                    {% else %}
                        <a href="{% url 'auth:login' %}" class="btn btn-primary-dark btn-sm me-2">Войти</a>
                        <a href="{% url 'auth:register' %}" class="btn btn-primary btn-sm me-2">Регистрация</a>
                    {% endif %}
                </div>

                <form class="d-flex" role="search" method="GET">
                    <input class="form-control me-2" type="search" name="search" placeholder="Search"
                           value="{{ search_query }}" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<main>
    {% block main %} {% endblock %}
</main>
<footer class="footer p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>BookShop</h2>
            </div>
            <div class="col-md-3">
                <h5>About Us</h5>
                <p>
                    Bookstore is a platform where you can enjoy books,
                    read, and explore history.
                </p>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: info@example.com</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2026 BookShop Website. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>