{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% translate 'Orders' %} {% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{% translate 'Customers' %}</th>
            <th scope="col">{% translate 'Status' %}</th>
            <th scope="col">{% translate 'Payment Method' %}</th>
            <th scope="col">{% translate 'Total Price' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in page_obj %}
            <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.payment_method }}</td>
                <td>{{ order.total_price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}